node_modules/

/.type-coverage/
/coverage/
/coverage-ts/
/dist/

*.log

# Autogen files
/docs/generated/
/docs/coverage.svg
/src/exponents.ts
/src/converters/prefixes.ts
/src/units/modifiers/prefixes.ts
